# ============
# Atmel Studio

# Build Directories
[Dd]ebug/
[Rr]elease/
*.zip

# Build Artifacts
*.o
*.d
*.eep
*.elf
*.hex
*.map
*.srec

# User Specific Files
*.atsuo

# Debugger artifacts
jlink*.log

# Sandbox for playing in
Sandbox/

# ==========
# MPLAB.X

**/.generated_files
**/nbproject/private
**/nbproject/Makefile-*
